---
http_interactions:
- request:
    method: get
    uri: https://api.ambeedata.com/weather/history/by-lat-lng?from=2023-10-13%2011:00:00&lat=<LAT>&lng=<LNG>&to=2023-10-13%2011:00:00&units=si
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<AMBEE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      Etag:
      - W/"1f0-qTAWELvNmnLBTyXVtB8W05zH+74"
    body:
      encoding: UTF-8
      string: '{"message":"success","data":{"lat":<LAT>,"lng":<LNG>,"history":[{"timezone":"Europe/Minsk","country_code":"BY","time":1697194800,"apparentTemperature":13,"cloudCover":0.58,"dewPoint":6.08,"humidity":63,"pressure":1016,"precipIntensity":0,"temperature":13,"visibility":10000,"windGust":6.24,"ozone":259,"uvIndex":2.02,"windSpeed":3.37,"windBearing":224,"icon":"partly-cloudy","summary":"Partly
        cloudy skies. A mild day ahead. Moderate humidity. Expect a gentle breeze.
        Moderate UV levels."}]}}'
  recorded_at: Fri, 13 Oct 2023 11:40:25 GMT
recorded_with: VCR 6.2.0
