---
http_interactions:
- request:
    method: get
    uri: https://api.ambeedata.com/weather/forecast/by-lat-lng?lat=<LAT>&lng=<LNG>&units=si
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<AMBEE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      Etag:
      - W/"3697-8nzx8nFk/NRYwwOkh5rHfWyPFII"
    body:
      encoding: ASCII-8BIT
      string: '{"message":"success","data":{"lat":<LAT>,"lng":<LNG>,"forecast":[{"time":1697198400,"dewPoint":5.4,"temperature":14.03,"apparentTemperature":12.95,"humidity":56,"pressure":1017,"windSpeed":4.69,"windBearing":229,"windGust":6.23,"cloudCover":0.69,"visibility":10,"uvIndex":1.76,"summary":"broken
        clouds","icon":"cloudy","precipIntensity":0,"ozone":77.25},{"time":1697202000,"dewPoint":5.89,"temperature":14.01,"apparentTemperature":12.98,"humidity":58,"pressure":1017,"windSpeed":4.88,"windBearing":229,"windGust":6.65,"cloudCover":0.75,"visibility":10,"uvIndex":1.4,"summary":"broken
        clouds","icon":"cloudy","precipIntensity":0,"ozone":77.25},{"time":1697205600,"dewPoint":5.29,"temperature":14.19,"apparentTemperature":13.1,"humidity":55,"pressure":1017,"windSpeed":4.95,"windBearing":217,"windGust":6.75,"cloudCover":0.8,"visibility":10,[...]
