---
http_interactions:
- request:
    method: get
    uri: https://api.ambeedata.com/weather/history/by-lat-lng?from=2023-10-13%2009:00:00&lat=<LAT>&lng=<LNG>&to=2023-10-13%2009:00:00&units=si
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<AMBEE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      Etag:
      - W/"1e2-u2g5JNI/Df6eqq7SFLT+i7mU6pQ"
    body:
      encoding: UTF-8
      string: '{"message":"success","data":{"lat":<LAT>,"lng":<LNG>,"history":[{"timezone":"Europe/Minsk","country_code":"BY","time":1697187600,"apparentTemperature":12,"cloudCover":0.3,"dewPoint":6.94,"humidity":76,"pressure":1017,"precipIntensity":0,"temperature":10,"visibility":10000,"windGust":6.38,"ozone":265.71,"uvIndex":1.95,"windSpeed":2.48,"windBearing":229,"icon":"clear","summary":"Clear
        skies. A mild day ahead. Higher humidity levels. Expect a gentle breeze. Low
        UV levels."}]}}'
  recorded_at: Fri, 13 Oct 2023 11:40:25 GMT
recorded_with: VCR 6.2.0
