---
http_interactions:
- request:
    method: get
    uri: https://api.ambeedata.com/weather/history/by-lat-lng?from=2023-10-09%2017:00:00&lat=<LAT>&lng=<LNG>&to=2023-10-09%2017:00:00&units=si
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<AMBEE_API_KEY>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      Etag:
      - W/"64-EW6NZ0eP7UM9GzX9BD2fg93GDSc"
    body:
      encoding: UTF-8
      string: '{"message":"Only past 2 days data available!, please reach out to contactus@getambee.com","data":[]}'
  recorded_at: Fri, 13 Oct 2023 11:40:24 GMT
recorded_with: VCR 6.2.0
