<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"><%= t('.name') %></th>
        <th scope="col"></th>
        <th scope="col">
          <button class='btn btn-primary' data-bs-toggle='modal' data-bs-target='#new-category-modal'>
            <%= t('.add') %>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each_with_index do |category, index| %>
        <%= render partial: 'form_modal',
                            locals: { target_id: "#{dom_id(category)}", modal_type: 'edit', category: category } %>

        <%= render partial: 'category', locals: { category: category, index: index } %>
      <% end %>
    </tbody>
  </table>
</div>
