name: Run Tests
on: push

env:
  RAILS_ENV: test
  POSTGRES_HOST: localhost
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: password

jobs:
  rspec:
    permissions: write-all

    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_PASSWORD: password
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install Ruby and Gems
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Setup Database
        run:
          bin/rails db:setup

      - name: Precompile assets
        run:
          bin/rails assets:precompile

      - name: Run tests
        run:
          bundle exec rspec

      - uses: joshmfrankel/simplecov-check-action@main
        with:
          minimum_suite_coverage: 0
          minimum_file_coverage: 0
          github_token: "${{ github.token }}"
