name: Run Tests
on: push

jobs:
  rspec:
    permissions: write-all

    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install Ruby and Gems
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Run tests
        run: bundle exec rspec

      - uses: joshmfrankel/simplecov-check-action@main
        with:
          minimum_suite_coverage: 0
          minimum_file_coverage: 0
          github_token: "${{ github.token }}"
