<footer class="d-flex flex-wrap justify-content-center border-top">
  <div class="d-flex">
    <div class="text-muted">© 2023 <%= t('.see_other') %>
      <a class="text-blue" href="https://github.com/Iorhael?tab=repositories">Iorhael</a>
    </div>
  </div>
</footer>
