<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <div class="col-md-4 d-flex align-items-center">
    <div class="text-muted">© 2023 See my other projects: &nbsp;</div>
    <a class="text-blue" href="https://github.com/Iorhael?tab=repositories">Iorhael</a>
  </div>
</footer>
