<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"><%= t('.language') %></a>
  <ul class="dropdown-menu">
    <li><%= link_to t('.ru'), { locale: :ru }, class: "dropdown-item" %></li>
    <li><%= link_to t('.en'), { locale: :en }, class: "dropdown-item" %></li>
  </ul>
</li>
