<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"><%= t('nav.language') %></a>
  <ul class="dropdown-menu">
    <li><%= link_to t("nav.ru"), { locale: :ru }, class: "dropdown-item" %></li>
    <li><%= link_to t("nav.en"), { locale: :en }, class: "dropdown-item" %></li>
  </ul>
</li>
